# Configuration file

biomeids {
    I:"Bedrock Maze"=230
    I:"Cake Maze"=231
    I:"Cave Maze"=232
    I:"Desert Maze"=233
    I:"Dungeon Maze"=234
    I:"Ender Maze"=235
    I:"Firey Maze"=236
    I:"Flooded Maze"=237
    I:"Forest Maze"=238
    I:"Ice Maze"=239
    I:"Mesa Maze"=240
    I:"Peaceful Maze"=241
    I:"Precious Maze"=242
    I:"Quartz Maze"=243
    I:"Rainbow Maze"=244
    I:"Stronghold Maze"=245
    I:"Swampy Maze"=246
    I:"Village Maze"=247
    I:"Withering Maze"=248
}


biomeprob {
    I:"Bedrock Maze"=0
    I:"Cake Maze"=0
    I:"Cave Maze"=0
    I:"Desert Maze"=0
    I:"Dungeon Maze"=0
    I:"Ender Maze"=0
    I:"Firey Maze"=0
    I:"Flooded Maze"=0
    I:"Forest Maze"=0
    I:"Ice Maze"=0
    I:"Mesa Maze"=0
    I:"Peaceful Maze"=0
    I:"Precious Maze"=1
    I:"Quartz Maze"=0
    I:"Rainbow Maze"=18
    I:"Stronghold Maze"=20
    I:"Swampy Maze"=16
    I:"Village Maze"=10
    I:"Withering Maze"=10
}


general {
    # Layers in Maze [range: 2 ~ 40, default: 6]
    I:Layers=6
    I:MazeDimID=32

    # Super Chunk size(measured in chunks) [range: 1 ~ 600, default: 90]
    I:SchunkSize=90

    # DimID and then weight
    I:"Travelable Dimensions" <
        0
        100
     >
}


